.linkStyling {
  text-decoration: none !important;
}

.flex-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 !important;
  padding: 0 !important;
}

.dashboardPage {
  background-color: #f7f8f9;
  height: 100vh;
}
.dashboardHeading {
  color: #1a2846 !important;
  font-weight: 500 !important;
  padding-top: 25px !important;
}

.dashboardDesc {
  font-weight: 400 !important;
  color: #60708b !important;
  padding-top: 6px !important;
}
.cardFlex {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  padding: 0 20px;
  border-radius: 6px !important;
  border: 1px solid #f7f8f9;
  box-shadow: none !important;
}
.iconStyling {
  padding-right: 15px !important;
}
.tableStyling {
  margin-top: 50px;
  border: none !important;
  box-shadow: none !important;
}
