/* Defaults */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 !important;
  padding: 0 !important;
}

/* Navbar styling */
.linkStyling {
  text-decoration: none !important;
}

/* Home page styling */
.flex-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* View page styling */
.dashboardPage {
  background-color: #f7f8f9;
  height: 100vh;
}
.dashboardHeading {
  color: #1a2846 !important;
  font-weight: 500 !important;
  padding-top: 25px !important;
}

.dashboardDesc {
  font-weight: 400 !important;
  color: #60708b !important;
  padding-top: 6px !important;
}
.cardFlex {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  padding: 0 20px;
  border-radius: 6px !important;
  border: 1px solid #f7f8f9;
  box-shadow: none !important;
}
.iconStyling {
  padding-right: 15px !important;
}
.tableStyling {
  margin-top: 50px;
  border: none !important;
  box-shadow: none !important;
}
.rowHover:hover {
  background-color: #f7f8f9;
}
.actionButton {
  margin-right: 15px !important;
  margin-left: 15px !important;
}
.edit {
  background-color: #2eb794 !important;
}
.delete {
  background-color: #f23729 !important;
}

/* Create page styling */
.heading {
  margin: 0 0 30px 0 !important;
}
.positionCenter {
  text-align: center;
}
.formPosition {
  margin: 50px auto !important;
}
.textFieldPosition {
  width: 500px;
  margin: 15px 0 !important;
}
.createButton {
  margin-top: 20px !important;
  padding: 8px 40px !important;
}
/* update modal styling */
.updateButton {
  display: block !important;
  margin: 20px auto !important;
}
